/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap"
@import "bootstrap-icons/font/bootstrap-icons.css"
@import "primeng/resources/primeng.css"
@import "primeicons/primeicons.css"

:root
	--header-height: 70px

html
	scroll-padding-top: var(--header-height)

body
	padding-top: var(--header-height)

